/* Meyerweb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Reset */

/* Don't Overthink It Grid */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 1.5rem 0 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

.grid-pad {
  padding: 1.5rem 0 1.5rem 1.5rem;
}

[class*='col-'] {
  float: left;
  padding-right: 1.5rem;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1.5rem;
}

.col-2-3 {
  width: 66.66%;
}

.col-3-8 {
  width: 37.5%
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

/*FB Post Grid*/

#executivedirector > .pad {
  background: #d7d9db;
  padding: 1rem;
}

.pad .grid {
  margin-right: 0;
}

#executivedirector > .pad > .grid > [class*='col-'] {
  padding: 1.5rem;
  background: #fff;
}

#executivedirector .col-1-3 {
  margin-right: 1.5rem;
}

#executivedirector .col-2-3 {
  width: calc(66% - 1.5rem);
}

@media only screen 
and (max-width : 500px) {

  #executivedirector .col-1-3 {
    margin-bottom: 1.5rem;
  }

  #executivedirector .col-2-3 {
    width: 100%;
  }
}

/* Balance sheet grid */

.table {
  background-color: #E0E0E0;
  margin: 0 0 2rem;
}

.line {
  float: left;
  clear: left;
  width: 100%;
  padding: 1.5rem;
}

.line p {
  margin: 0;
}

.line:nth-of-type(2n+2) {
  background: #D5D5D5;
}

.table.grid .col-1-3 {
  padding-right: 0;
}

img { 
    max-width: 100%;
}

/* Mobile Grid */

@media only screen 
and (max-width : 500px) {
    
    [class*='col-'] {
      padding-right: 0;
    }
    
    .col-2-3,
    .col-1-2,
    .col-3-8,
    .col-1-3,
    .col-1-4 {
      width: 100%;
    }

}

/* End of Grid */

/* Typography */


h1 {
  font-family: 'Rokkitt', serif;  
  font-size: 3.8rem;
  text-align: center;
  margin: 2rem 0 .2rem;
  color: #0DC3F2;
}

/* H1 Subtitle */
.section h1 + p {
  font-family: 'Rokkitt', serif;  
  font-size: 1.9rem;
  line-height: 1.1;
  color: #FDB913;
  text-align: center;
  text-transform: none;
  max-width: 45rem;
  margin: 0 auto 4rem;
}

#for h1 + p {
  color: #000;
}

#about h1 + p {
  color: #fff;
}

h2 {
    font-family: 'Rokkitt', serif;
    font-size: 1.8rem;
    margin: 0 0 1rem;
}

#for h2,
#of h2 {
  color: #0DC3F2;
}

#by h2 {
  color: #fff;
}

#about h2 {
  text-align: center;
  color: #eba713;
}

#for .issue h2 {
  color: #017280;
}

h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

h4 {
  font-size: 1.3rem;
  margin: 0 0 .3rem;
  color: #0DC3F2;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  font-family: 'Rokkitt', serif;
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 0 0 1rem;
}

p em {
  font-weight: 700;
}

/* End of Typography */

body {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navigation */

nav {
  position: fixed;
  top: 20%;
  background: rgba(13, 195, 242, 0.68);
  /*width: 10%;*/
  width: 11rem;
  padding: 1rem;
  z-index: 5;
}

nav a {
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #fff;
    display: block;
    margin-bottom: 1rem;
}

nav .active {
  color: #facc5b;
}

nav a:link {
  text-decoration: none;
}

.show-menu {
  display: none;
    position: fixed;
    top: .5rem;
    left: .5rem;
    z-index: 10;
}

.show-menu img {
  width: 2.8rem;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ .topnav {
    height: auto;
}

/* Mobile Nav */

@media only screen 
and (max-width : 500px) {
    
    .topnav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: all 0.5s ease;
    }
    
    ul {
    position: static;
    display: none;
  }

    nav a {
      margin-bottom: 1px;
      width: 100%;
      text-align: center;
      padding: .5rem 0;
    }

    nav .active {
      background: #facc5b;
      color: #fff
    }
    
  .show-menu {
    display:block;
  }
    
}

/* End of Navigation */

.section {
  min-height: 40rem;
  margin: 0 auto;
  padding: 1rem 0 3rem 10%;
  position: relative;
  z-index: 1;
}

/* centering sections when nav switches to top */

@media only screen 
and (max-width : 500px) {
    .section {
      padding-left: 0;
    }
}

/* Sticky elements only apply to full screen */

@media only screen 
and (min-width : 500px) {

  .fixed {
    position: fixed;
    top: 2rem;
  }

  .stickem-container {
    position: relative;
  }

  .stickem {
    padding-top: 2rem;
  }

  .stickit {
    position: fixed;
    top: 0;
    width: calc(30% - 1rem);
  }

  .stickit-end {
    bottom: 1.5rem;
    position: absolute;
    left: 1.5rem;
  }

  .stickem-container .col-2-3 {
    float: right;
    padding-right: 0;
  }

}

.module {
  padding: 20px;
  min-height: 20rem;
}

.connector {
    background: url(img/connector-dot.svg) center center repeat-y;
    height: 261px;
    width: 3px;
    margin: 0 auto;
}

#intro {
    background: url('../img/introphoto.jpg');
    background-size: cover;
}

#intro h1 {
  float: right;
  text-align: left;
  padding-right: 5rem;
  font-size: 3rem;
}

#executivedirector {
    background: #3b5986;
}

#of {
  background: #fff;
}

#for {
  background: white;
}

#progress {
  background: #0db1e0;
}

#progress h2,
#progress h3 {
  color: #fff;
}

#by {
  background: #3D3D3D;
}

#by h2 {
    color: ;
}

#by p {
    color: #fff;
}

#about {
  background: #3d3d3d;
}

figure {
    font-family: 'Rokkitt', serif;
    font-size: 5rem;
    text-align: center;
    color: #fff;
}

figcaption {
    font-family: 'Rokkitt', serif;
    font-size: 1.3rem;
    text-transform: none;
    text-align: center;
    color: #0DC3F2;
}

.orangedivide {
    width: 100%;
    border-bottom: 1px solid #FDB913;
    margin: 1rem 0;
}

.punchline {
    color: #FDB913;
    font-family: 'Rokkitt', serif;
    font-size: 1.3rem;
    text-align: center
}

.highlight {
  display: inline;
  background: rgba(13, 195, 242, 0.68);
  color: white; 
  padding: .25rem;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 10px 0 0 rgba(13, 195, 242, 0.68), -10px 0 0 rgba(13, 195, 242, 0.68);
  /*-webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;*/
}

#by .emphasis {
  color: #eba713;
}

#about .emphasis {
  text-align: center;
  max-width: 45rem;
  margin: 0 auto 5rem;
  color: #eba713;
}

p.emphasis {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
}

[class*='headertab-'] {
  background: rgba(13, 195, 242, 0.68);
  width: calc(100% + 4rem);
  padding: 1rem;
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}

.headertab-left {
  margin-left: -4rem;
  padding-left: 4rem;
}

.headertab-right {
  margin-right: -4rem;
  padding-right: 4rem;
}

@media only screen 
and (max-width : 500px) {
  [class*='headertab-'] {
    width: 100%;
  }

  .headertab-left {
    margin-left: 0;
    padding-left: 0;
  }

  .headertab-right {
    margin-right: 0;
    padding-right: 0;
  }

}

.logo {
  margin: 0 auto 1.5rem;
  display: block;
  max-width: 15rem;
}

div.issue {
  border-top: 1px solid #eba713;
  padding-top: 3rem;
  margin-bottom: 1em;
}

img.issue {
  margin-bottom: 1rem;
}

.orange {
  color: #eba713;
}

/* Credits */

.credits {
  background: #333333;
  width: 90%;
  margin: 0 auto 2rem;
}

.credits p {
  color: #fff;
  margin-bottom: .5rem;
}

.credits h3 {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  color: #0db1e0;
  font-size: 1.8rem;
}

.facebook {
  font-family: Helvetica, arial, sans-serif;
}

.facebook p {
  font-size: .9rem;
  line-height: 1.5;
}

.facebook img {
  width: 4rem;
  float: left;
  margin-right: .6rem;
}

.name {
  margin-top: .5rem;
}

.name h4 {
  color: #3b5986;
  text-transform: none;
  font-size: 1.1rem;
  margin-bottom: .1rem;
}

.name p {
  color: #808591;
  font-size: .9rem;
  margin-bottom: 1rem;
}

.actions {
  border-top: 1px solid #d7d9db;
  width: 100%;
  padding-top: 1rem;
}

.actions p {
  color: #6d80ad;
}

.actions p a:link,
.actions p a:active,
.actions p a:visited,
.actions p a:hover {
  color: #6d80ad;
  text-decoration: none;
}

.accordion {
  overflow:hidden;
}

.accordion-section-title {
    width:100%;
    display:inline-block;
    background:#333;
    transition:all linear 0.15s;
    color:#fff;
    padding: 2rem;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    display:none;
}

footer {
  min-height: 30rem;
  background: url('../img/bus.gif');
  background-size: cover;
  background-position: center;
}



