/* Meyerweb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Reset */

/* Don't Overthink It Grid */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 1.5em 0 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

.grid-pad {
  padding: 1.5em 0 1.5em 1.5em;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1.5em;
}

[class*='col-'] {
  float: left;
  padding-right: 1.5em;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

/* Mobile Grid */

@media only screen 
and (max-width : 500px) {
    
    [class*='col-'] {
      padding-right: 0;
    }
    
    .col-2-3 {
      width: 100%;
    }
    
    .col-1-3 {
      width: 100%;
    }
    
    .col-1-2 {
      width: 100%;
    }

    .col-1-4 {
      width: 100%;
    }

}

/* End of Grid */

/* Typography */


h1 {
  font-family: 'Rokkitt', serif;  
  font-size: 2.8em;
  text-align: center;
  margin: 2em 0 .2em;
  color: #0DC3F2;
}

/* H1 Subtitle */
.section h1 + p {
  font-family: 'Rokkitt', serif;  
  font-size: 1.2em;
  color: #FDB913;
  text-align: center;
  text-transform: uppercase;
}

h2 {
    font-family: 'Rokkitt', serif;
    font-size: 1.8em;
    margin: 0 0 1em;
}

h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 0 0 1em;
}

h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0 0 1em;
  color: #0DC3F2;
  text-transform: uppercase;
}

p {
  line-height: 1.3;
  margin: 0 0 1em;
}

/* End of Typography */

body {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  position: fixed;
  top: 20%;
  background: #999;
  width: 10%;
  padding: 1em;
}

nav a {
    text-align: left;
    font-size: .8em;
    color: #fff;
    display: block;
    margin-bottom: 1em;
}

/* Trying to create the active state for nav items */
nav li > .active {
    text-transform: uppercase;
}

.section {
  min-height: 40em;
  margin: 0 auto;
  background: blue;
  padding: 1em 0 3em 10%;
}

.module {
  padding: 20px;
  background: #eee;
  min-height: 20em;
}

.connector {
    background: url(img/connector-dot.svg) center center repeat-y;
    height: 261px;
    width: 3px;
    margin: 0 auto;
}

#intro {
    background: #3d3d3d;
}

#of {
  background: #fff;
}

#for {
  background: white;
}

#by {
  background: #3D3D3D;
}

#by h2 {
    color: ;
}

#by h4 {
    text-align: center;
}

#by p {
    color: #fff;
}

#about {
  background: #3d3d3d;
}

.orangedivide {
    width: 100%;
    border-bottom: 1px solid #FDB913;
}

/* dummy styles before we have real content */

.mockblock {
    width: 100%;
    height: 7em;
    background: #999;
}

.mockcircle {
    border-radius: 50%;
    width: 11em;
    height: 11em;
    background: #999;
}



